*.csv
/venv

# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Secure config files
config.py
*.env
.env

# Selenium screenshots and logs
*.png
*.log
geckodriver.log
chromedriver.log

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo